
.layout {
  background-color: transparent;
}

.header {
  height: 115px;
  background: url(~@/assets/img/header_bg.png) no-repeat center top;
  background-size: auto 115px;
}

.content {
  color: white;
  padding: 0 5%;
}